// Variables 
$primary-color: #FF3E57;
$light-grey: #757781;



// Backgrounds 
.bg {
  &-light {
    background: #F2F3F5;
    color: $light-grey;
  }
}


// Basic Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global Style 
html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  // color: $dark-color;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}