@import 'config';

header {
  height: 4rem;
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;

    .phone-number {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      i {
        margin-right: 1rem;
      }
    }

    .country-origins {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      p {
        padding: 0 1rem;
        color: #000;
      }
    }
  }
}

nav {
  height: 7rem;
  .grid-3 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    // gap: 1rem;

    .logo-container {
      background: #282828;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      h1 {
        cursor: pointer;
      }
    }
    .nav-items {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $text-color;
      text-transform: uppercase;

      .nav-item {
        transition: all .2s ease;

        &:hover {
          color: #2C89FA;

        }
        a {
          margin-right: 2rem;
          i {
            margin-left: 2rem;
          }
        }
      }

      .nav-item:nth-child(2) {
        margin: 0 10rem;
      }
    }
    .checkout-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-transform: uppercase;
      color: $text-color;
      li {
        margin-right: 3rem;
        .fas {
          font-size: 2rem;
          color: #000;
        }
      }
    }
  }
}

.showcase {
  height: 90vh;
  width: 100%;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
  }
}

.cta-items {
  margin: 3rem 2rem;
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    img {
      width: 100%;
      margin-bottom: 3rem;
      transition: all ease-in 0.2s;


      &:hover {
        opacity: 0.3;
      }
    }

    h2 {
      text-transform: uppercase;
      font-size: 2rem;
      margin-bottom: 1rem;
      transition: all ease-in .2s;

      &:hover {
        cursor: pointer;
        color: #2C89FA;
      }
    }

    p {
      color: #818181;
      text-transform: uppercase;
    }

  }
}